button,
.button {
	background: none;
	font-family: Montserrat, sans-serif;
	color: $white;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0.33em 1em;
	border: 2px solid $white;
	// border-image: linear-gradient(to right, lighten($purple, 20%) 0%, $blue 100%);
	// border-image-slice: 1;

	.event-details .event-details__date + p & {
		position: absolute;
		top: 20px;
		right: 20px;
	}
}

.button--fill {
	border-image: none;
	border: none;
	// border-image: linear-gradient(to right, $purple, 20%) 0%, $blue 100%);
	// background: linear-gradient(to right, darken($blue, 20%) 0%, $purple 100%);
	background: linear-gradient(to right, #f36c9e 0%, #f093fa 100%);
}

.button--fill--white {
	background: $white;
	color: $pink;
}