.event {
}

.event-details {
  position: relative;
  padding: 0 20px;
  float: left;

  @media screen and (min-width: 780px) {
    // background: $white;
    // border: 2px solid $white;
    padding: 0 20px 20px;
  }
}

.event-details__title {
  // push  -2 w padding offset
  margin-left: calc(-16.66667% - 16.66667px + 10px);
  color: $white;
  letter-spacing: 2px;
  margin-bottom: 0.66em;

  @media screen and (min-width: 780px) {
    width: 100%;
    margin-left: -30px;
    float: left;
  }
}

.event-details__date {
  font-size: 1rem;
  color: $white;
}

.event-details__attendees {
  background: $white;
  padding: 0.33em 1em;
  @include grid-push(-3);
  // box-shadow: 2px 2px 20px rgba(0,0,0,0.5);

  @media screen and (min-width: 780px) {
    margin-left: -30px;
  }
}

.event-details__attendee {
  font-size: 1em;
  color: #f36c9e;
  list-style: none;
  border-bottom: 1px solid #f36c9e;
  margin-bottom: 0.33em;
}
