.event {
}

.event-details {
  position: relative;
  padding: 0 20px;
  float: left;

  @media screen and (min-width: 780px) {
    // background: $white;
    // border: 2px solid $white;
    padding: 0 20px 20px;
  }
}

.event-details__title {
  // push  -2 w padding offset
  color: $black;
  letter-spacing: 2px;
  margin-bottom: 0.66em;

  @media screen and (min-width: 780px) {
    width: 100%;
    float: left;
  }
}

.event-details__date {
  font-size: 1rem;
  color: $black;
}

.event-details__attendees {
  background: $black;
  padding: 0.33em 1em;
}

.event-details__attendee {
  font-size: 1em;
  color: $white;
  list-style: none;
  border-bottom: 1px solid $white;
  margin-bottom: 0.33em;
}
