header {
	display: flex;
	align-items: center;
	position: relative;
	@include grid-column(10 of 12);
	@include grid-push(1);
	transition: all 0.3s ease-out;

	@media screen and (min-width: 780px) {
		width: 100%;
		margin-bottom: 2rem;
		margin-left: 0;
	}
}

.header--toggled {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	margin-left: 0;
	padding: 0.33em 1em;
	background: $white;
	z-index: 9;

	@media screen and (min-width: 550px) {
		left: 0;	
	}
}

.header__menu {
	margin-left: auto;
}

header h1 {
	width: 66%;
	@include grid-push(-2);

	@media screen and (min-width: 780px) {
		max-width: 225px;
		margin-left: 0;
	}
	
}

header h1.toggled {
	display: none;
	margin-top: 0.5rem;
	margin-left: 0;
	color: #f36c9e;
	transform: translateX(-100%);
	transition: all 0.5s ease-out;
}

.header--toggled h1.toggled {
	display: block;
	transform: translateX(0);
}

header button {
	margin: 0 0 0 2em;
	font-size: 1em;
}

.header--toggled h1 {
	display: none;		
}


.header--toggled button {
	top: 0.75em;
	right: 1em;
	color: #f36c9e;
	border-color: #f36c9e;
}