.rate-book {
  position: relative;
}

.rate-book label {
  width: 100%;
  font-size: 1rem;
  color: $white;
  background: $black;
  padding: 1em;
  margin: 1em 0;
  float: left;
  // box-shadow: 2px 2px 10px rgba(0,0,0,0.3);

  @media screen and (min-width: 780px) {
    // margin-left: -30px;
  }
}

.rate-book form {
  margin: 1em 0 2em;
}

.rate-book select {
  padding: 1em;
  margin: 1em 4% 0 1em;
  border: 2px solid $black;
  background: none;
  font-family: Montserrat, sans-serif;
  color: $black;
  font-weight: 700;
}

.rate-book option {
  background: #f36c9e;
}

.rate-book .button,
.rate-book select {
  display: inline-block;
  width: 48%;

  @media screen and (min-width: 780px) {
    width: 21%;
  }
}

.rate-book .button {
  padding: 1.2em;
}

.rate-book p {
  font-size: 1rem;
  color: $white;
  // text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
}
