.suggestions {
	width: calc(100% + 20px);
	background: $white;
	color: $pink;
	margin: 2em -40px 2em 20px;
	padding: 0 20px;
	float: left;
	text-transform: uppercase;
}

.suggestions ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 20px;
}

.suggestions li {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0 2em;

	@media screen and (min-width: 780px) {
		width: 50%;
		flex-direction: column;
		justify-content: flex-end;
	}

	@media screen and (min-width: 940px) {
		width: 25%;
	}
}

.suggestions li p {
	max-width: 80%;
}

.suggestions .book {

}

.suggestions .book__cover {
	// width: 90%;
	// max-height: 290px;
	width: auto;
	margin: 0 auto;
}