.suggestion {

}

.suggestion h1 {
	margin-left: -40px;
}

.suggestion__form {
	margin: 0 20px;
	color: $white;
}

.suggestion__form label {
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.suggestion__form input[type="text"] {
	padding: 0.6em;
	font-weight: 800;
	color: $white;
	background: none;
	margin-top: 0.3em;
	border: 2px solid $white;
	border-radius: 0;
	text-transform: uppercase;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $white;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $white;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $white;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $white;
	}

	&:focus {
		background: $white;
		color: $pink;
	}
}

.suggestion__choice {
	width: 75%;
	padding: 0 20px 20px;
	margin: 2em auto;
	border: 2px solid $white;
	color: $white;
	cursor: pointer;
	text-align: center;

	&.suggestion__choice--chosen {
		background: $white;
		color: $pink;
		box-shadow: 5px 5px 0px $pink;
	}
}

.suggestion__choice img {
	border: 2px solid $white;
}

.suggestion__choice--chosen img {
	border: 2px solid $pink;
}

.suggestion .button {
	display: block;
	float: none;
	margin: 0 auto;
	cursor: pointer;
}
