.suggestion {
  padding: 0 20px;
}

.suggestion h1 {
  color: $black;
}

.suggestion__form {
  margin: 0 20px;
  color: $black;
}

.suggestion__form label {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.suggestion__form input[type="text"] {
  padding: 0.6em;
  font-size: 1em;
  font-weight: 800;
  color: $black;
  background: none;
  margin-top: 0.3em;
  border: 2px solid $black;
  border-radius: 0;
  text-transform: uppercase;

  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $black;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $black;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $black;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $black;
  }

  &:focus {
    background: $black;
    color: $white;
  }
}

.suggestion__choice {
  width: 75%;
  padding: 0 20px 20px;
  margin: 2em auto;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  text-align: center;

  &.suggestion__choice--chosen {
    background: $white;
    color: $black;
    box-shadow: 5px 5px 0px $black;
  }
}

.suggestion__choice img {
  border: 2px solid $white;
}

.suggestion__choice--chosen img {
  border: 2px solid $black;
}

.suggestion .button {
  display: block;
  float: none;
  margin: 0 auto;
  cursor: pointer;
}

.suggestion {
  position: relative;
}

.suggestion__remove {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 35px;
  height: 35px;
  color: $white;
  font-size: 0.6em;
  font-weight: 800;
  line-height: 35px;
  background: $black;
  text-align: center;
  text-decoration: none;
}