.book {

}

.book--current {

}

.book--past {
	padding: 0 10px;
	border: 2px solid $white;
	border-radius: 5px;
	margin: 1rem 0;
}

.book__title {
	font-weight: 700;
	
	.book--past & {
		color: $white;
	}
}

.book__author {

	.book--past & {
		color: $white;
	}
}

.book__cover {
	max-width: 100%;
}

