.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

body.body--push {
  padding-top: 158px;
}

.app {
  max-width: 960px;
  margin: 0 auto 100px;
}

@media screen and (min-width: 550px) {
  .app {
    padding: 0 20px;
  }
}

.app__container {
  clear: both;
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.33333% - 21.66667px + 40px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 780px) {
  .app__container {
    width: 100%;
    margin-left: auto;
    flex-direction: row;
  }
}

.app__sidebar {
  flex: 1;
  order: 2;
  border: 2px solid #ffffff;
  margin-top: 2rem;
  margin-right: 20px;
}

@media screen and (min-width: 780px) {
  .app__sidebar {
    flex: 1;
    order: 1;
    margin-top: 0;
  }
}

.app__main {
  flex: 1;
  order: 1;
  border: 2px solid #ffffff;
}

@media screen and (min-width: 780px) {
  .app__main {
    flex: 4;
    order: 2;
    background: none;
  }
}

.app__footer {
  width: 100%;
  order: 3;
  flex-wrap: wrap;
}

body {
  font-family: Montserrat, sans-serif !important;
  font-size: 18px;
  line-height: 1.2em;
}

h1 {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.fill {
  font-size: 1em;
  color: #f36c9e;
  padding: 0.33em 1em;
  background: #ffffff;
}

@media screen and (min-width: 620px) {
  .book .fill {
    display: inline-block;
    width: 50%;
  }
}

.favourite-books__book .fill.fill {
  width: 100%;
  font-size: 0.8em;
  float: left;
  margin-right: auto;
  margin-left: 0;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  margin-left: calc(8.33333% - 21.66667px + 40px);
  transition: all 0.3s ease-out;
}

@media screen and (min-width: 780px) {
  header {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }
}

.header--toggled {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  margin-left: 0;
  padding: 0.33em 1em;
  background: #ffffff;
  z-index: 9;
}

@media screen and (min-width: 550px) {
  .header--toggled {
    left: 0;
  }
}

.header__menu {
  position: fixed;
  top: 125px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  text-align: center;
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
}

.header__menu.header__menu--open {
  transform: translateX(0);
}

.header--toggled .header__menu {
  top: 50px;
}

@media screen and (min-width: 780px) {
  .header--toggled .header__menu {
    top: 0;
  }
}

@media screen and (min-width: 600px) {
  .header__menu {
    top: 100px;
  }
}

@media screen and (min-width: 662px) {
  .header__menu {
    top: 75px;
  }
}

@media screen and (min-width: 780px) {
  .header__menu {
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background: none;
    position: relative;
    margin-left: auto;
    transform: none;
  }
}

header h1 {
  width: 66%;
  margin-left: calc(-16.66667% - 16.66667px + 40px);
}

@media screen and (min-width: 780px) {
  header h1 {
    max-width: 225px;
    margin-left: 0;
  }
}

header h1.toggled {
  display: none;
  margin-top: 0.5rem;
  margin-left: 0;
  color: #f36c9e;
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
}

.header--toggled h1.toggled {
  display: block;
  transform: translateX(0);
}

header button {
  margin: 0 0 0 2em;
  font-size: 1em;
}

.header--toggled h1 {
  display: none;
}

.header--toggled button,
.header--toggled .button {
  top: 0.75em;
  right: 1em;
  color: #f36c9e !important;
  border-color: #f36c9e !important;
}

header .hamburger {
  color: #ffffff;
}

@media screen and (min-width: 780px) {
  header .hamburger {
    display: none;
  }
}

.hamburger:focus {
  outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #ffffff !important;
}

.header--toggled .hamburger-inner, .header--toggled .hamburger-inner::before, .header--toggled .hamburger-inner::after {
  background-color: #f36c9e !important;
}

@media screen and (min-width: 780px) {
  .past-books {
    padding-left: 20px;
  }
}

.past-books__title {
  width: 100%;
  color: #ffffff;
  margin-left: calc(-16.66667% - 16.66667px + 40px);
}

.book--current {
  width: calc(100% + 40px);
  background: #ffffff;
  padding: 0.33em 20px;
}

@media screen and (min-width: 780px) {
  .book--current {
    width: calc(100% + 30px);
  }
}

.book--past:after {
  width: calc(100% + 20px);
  height: 5px;
  margin-right: -20px;
  background: #ffffff;
  margin-bottom: 2rem;
}

@media screen and (min-width: 780px) {
  .book--past:after {
    width: 100%;
    margin-top: 2em;
    margin-right: -30px;
    margin-left: auto;
  }
}

.book--suggested {
  margin: 0 auto;
}

.book__title {
  font-family: Montserrat, sans-serif;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.book--past .book__title {
  color: #ffffff;
}

.book--suggested .book__title {
  color: #f36c9e;
}

.book__author {
  position: relative;
  font-size: 1rem;
  color: #111111;
}

.book__author:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -5px;
  width: 20px;
  height: 2px;
  background: #ffffff;
}

.book--past .book__author {
  color: #ffffff;
}

.book--past .book__author:before {
  background: #ffffff;
}

.book--suggested .book__author {
  color: #f36c9e;
}

.book--suggested .book__author:before {
  left: 50%;
  background: #f36c9e;
}

.book--current .book__author {
  color: #111111;
}

.book__cover {
  width: calc(100% + 40px);
  margin-left: -20px;
}

.book--current .book__cover {
  box-shadow: 10px 10px 0 #f093fa;
}

@media screen and (min-width: 530px) {
  .book--current .book__cover {
    width: 50%;
    float: left;
    margin-right: 20px;
    margin-left: 0;
  }
}

.book--past .book__cover {
  box-shadow: 10px 10px 0 #ffffff;
}

@media screen and (min-width: 780px) {
  .book--past .book__cover {
    width: calc(100% + 20px);
    margin-left: -30px;
  }
}

.favourite-books__book .book__cover {
  width: auto;
  margin-left: 0;
  margin-right: auto;
  max-height: 150px;
}

.book__description {
  font-size: 1rem;
  color: #111111;
}

.book--past .fill {
  display: inline-block;
  width: calc(100% + 40px);
  margin-left: -10px;
}

.event-details {
  position: relative;
  padding: 0 20px;
  float: left;
}

@media screen and (min-width: 780px) {
  .event-details {
    padding: 0 20px 20px;
  }
}

.event-details__title {
  margin-left: calc(-16.66667% - 16.66667px + 10px);
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 0.66em;
}

@media screen and (min-width: 780px) {
  .event-details__title {
    width: 100%;
    margin-left: -30px;
    float: left;
  }
}

.event-details__date {
  font-size: 1rem;
  color: #ffffff;
}

.event-details__attendees {
  background: #ffffff;
  padding: 0.33em 1em;
  margin-left: calc(-25% - 15px + 40px);
}

@media screen and (min-width: 780px) {
  .event-details__attendees {
    margin-left: -30px;
  }
}

.event-details__attendee {
  font-size: 1em;
  color: #f36c9e;
  list-style: none;
  border-bottom: 1px solid #f36c9e;
  margin-bottom: 0.33em;
}

button,
.button {
  background: none;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.33em 1em;
  border: 2px solid #ffffff;
  text-decoration: none;
}

button.button--event,
.button.button--event {
  display: block;
  width: 100%;
  position: relative;
  margin: 1em auto;
  float: none;
  text-align: center;
}

@media screen and (min-width: 630px) {
  button.button--event,
  .button.button--event {
    position: absolute;
    top: 20px;
    right: 20px;
    width: auto;
    text-align: left;
  }
}

.button--fill {
  border-image: none;
  border: none;
  background: linear-gradient(to right, #f36c9e 0%, #f093fa 100%);
}

.button--fill--white {
  background: #ffffff;
  color: #f36c9e;
}

.header__menu .button {
  display: inline-block;
  width: auto;
  color: #f36c9e;
  margin: 2em 0;
  border-color: #f36c9e;
}

@media screen and (min-width: 780px) {
  .header__menu .button {
    color: #ffffff;
    border-color: #ffffff;
    margin: 0;
  }
}

.rate-book {
  position: relative;
}

.rate-book label {
  font-size: 1rem;
  color: #ffffff;
  background: #111111;
  padding: 0.33em 1em;
  margin: 1em 0 1em calc(-16.66667% - 16.66667px + 25px);
}

@media screen and (min-width: 780px) {
  .rate-book label {
    margin-left: -30px;
  }
}

.rate-book form {
  margin: 1em 0;
}

.rate-book select {
  padding: 0.3em 1em;
  margin: 1em 2% 0;
  border: 2px solid #f36c9e;
  background: none;
  font-family: Montserrat, sans-serif;
  color: #f36c9e;
  font-weight: 700;
}

.rate-book option {
  background: #f36c9e;
}

.rate-book .button,
.rate-book select {
  display: inline-block;
  width: 50%;
}

@media screen and (min-width: 780px) {
  .rate-book .button,
  .rate-book select {
    width: 21%;
  }
}

.rate-book .button {
  padding: 0.55em 1em;
}

.rate-book p {
  font-size: 1rem;
  color: #ffffff;
}

.favourite-books__wrapper h1 {
  margin-top: 2em;
  padding: 0 20px;
}

.favourite-books {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.favourite-books__book {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
}

@media screen and (min-width: 940px) {
  .favourite-books__book {
    width: 25%;
  }
}

.suggestion h1 {
  margin-left: -40px;
}

.suggestion__form {
  margin: 0 20px;
  color: #ffffff;
}

.suggestion__form label {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.suggestion__form input[type="text"] {
  padding: 0.6em;
  font-size: 1em;
  font-weight: 800;
  color: #ffffff;
  background: none;
  margin-top: 0.3em;
  border: 2px solid #ffffff;
  border-radius: 0;
  text-transform: uppercase;
}

.suggestion__form input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

.suggestion__form input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

.suggestion__form input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

.suggestion__form input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

.suggestion__form input[type="text"]:focus {
  background: #ffffff;
  color: #f36c9e;
}

.suggestion__choice {
  width: 75%;
  padding: 0 20px 20px;
  margin: 2em auto;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.suggestion__choice.suggestion__choice--chosen {
  background: #ffffff;
  color: #f36c9e;
  box-shadow: 5px 5px 0px #f36c9e;
}

.suggestion__choice img {
  border: 2px solid #ffffff;
}

.suggestion__choice--chosen img {
  border: 2px solid #f36c9e;
}

.suggestion .button {
  display: block;
  float: none;
  margin: 0 auto;
  cursor: pointer;
}

.suggestions {
  width: calc(100% + 10px);
  background: #ffffff;
  color: #f36c9e;
  margin: 2em -20px 2em 10px;
  padding: 0 20px;
  float: left;
  text-transform: uppercase;
}

.suggestions ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 20px;
}

.suggestions li {
  display: flex;
  flex: 43%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 20px 2em;
  border: 2px solid #f36c9e;
  text-align: center;
}

@media screen and (min-width: 780px) {
  .suggestions li {
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.suggestions .book__cover {
  width: auto;
  margin: 0 auto;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg);
}

.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dx-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dy-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none;
}

.hamburger--boring.is-active .hamburger-inner {
  transform: rotate(45deg);
}

.hamburger--boring.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--boring.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse-r .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic-r .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic-r.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(270deg);
  transition-delay: 0.075s;
}

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden;
}

.hamburger--emphatic .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden;
}

.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}

.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent;
}

.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px;
}

.hamburger--slider-r .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}

.hamburger--slider-r .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

.hamburger--slider-r.is-active .hamburger-inner::before {
  transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider-r.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(90deg);
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(90deg);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear;
}

.hamburger--stand-r .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand-r.is-active .hamburger-inner {
  transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear;
}

.hamburger--stand-r.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--stand-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin-r .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin-r.is-active .hamburger-inner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}

.hamburger--vortex-r .hamburger-inner::before {
  transition-property: top, opacity;
}

.hamburger--vortex-r .hamburger-inner::after {
  transition-property: bottom, transform;
}

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
  transition-delay: 0s;
}

.hamburger--vortex-r.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}

.hamburger--vortex-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
}

/*# sourceMappingURL=styles.css.map */
