/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.App {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2em;
}

header {
  background: #111111;
  padding: 2em 1em;
  width: 100%;
}

header h1 {
  color: #efefef;
  font-size: 1.66em;
  font-weight: 700;
  letter-spacing: 0.01em;
}


.app-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.user-list,
.past-books {
  width: 22%;
  background: #efefef;
  padding: 2em;
}

.book {
  margin-bottom: 3em;
}

.book__cover {
  max-width: 100%;
}

.current-book-wrapper {
  padding: 2em;
  width: 88%;
  text-align: center;
}

.current-book__title {
  font-size: 1.33em;
  font-weight: 700;
  margin: 0 0 2em;
}

.current-book__image {

}

.current-book__description {
  max-width: 66%;
  margin: 2em auto;
}