.clearfix:after {
	content: "";
 	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

body {

}

.app {

}

.app__container {

}

.app__sidebar {
	@include span-columns(2 of 12);
}

.app__main {

}