.clearfix:after {
	content: "";
 	display: table;
	clear: both;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	background: url('../images/background.jpg') center center no-repeat;
	background-size: cover;
	font-family: Lato, sans-serif;
	font-size: 18px;
	line-height: 1.2em;
}

.app {
	width: 90%;
	margin: 5%;
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(100,0,75,0.3);
}

.app__container {

}

.app__sidebar {
	width: 20%;
	float: left;
	background: $red;
	padding: 10px;
}

.app__main {
	width: 80%;
	float: left;
}